# OS files
.DS_Store
**/.DS_Store

# Build
.next
node_modules
.env.local
.env
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test
.env.production
.env.development.local
.env.test.local
.env.production.localnode_modules/
.env
dist/
.next/
